body{
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #4D869C;
    color: white;
}
#red-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    background-color: #C8102E;
}
#red-box > #white-box{
    height: 600px;
    width: 400px;
    background-color: white;

}